body{
	background-image:  url("../images/splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .title{
        .flex(center,center);
        flex-direction:column;
        color:@colorE;
        h1{
            font-size:25px;
        }
        p{
            font-size:15px;
        }
        button{
            .btn();
        }
    }
}

