.btn(@color, @background) {
  font-size: 1.4rem;
  padding: 12px 25px;
  background:@background;
  color:@color;
  font-weight: 900;
  overflow: hidden;
  border-radius: 7px;
  border: none;
  position: relative;
  z-index: 9;
  margin-left: 1.5rem;
    &:hover {
      color: @colorA;
      
      
    
    } 
    }

    .flex(@justify,@align){
      display:flex;
      justify-content:@justify;
      align-items: @align;
    }
  
    